.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 25px;
    background-color: #f1ca03;
}

.navbar-logo-img {
    height: 200px;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 5rem;
}

.navbar-link {
    margin: 0 15px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #555050;
    transition: color 0.3s ease;
    gap: 5rem;
}

.navbar-link:hover {
    color: #3a31398a;
}

.navbar-cart {
    padding:1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}