*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

a {
  color: #555050;
  text-decoration: none;
}

.body{
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}